
<div ng-app="animalApp">
    <div ng-controller="animalController">
        <h2 id="score">Total Score: 0 of 0</h2>
        <img ng-init="animalInit()" id="animalImage" src="" /><br />
        <button class="btn btn-success" ng-click="checkAnswer(0)">{{alternatives[0]}}</button>
        <button class="btn btn-success" ng-click="checkAnswer(1)">{{alternatives[1]}}</button>
        <button class="btn btn-success" ng-click="checkAnswer(2)">{{alternatives[2]}}</button>
        <p id="response"></p>
    </div>
</div>