<div class="jumbotron">
    <h1>Welcome to QuizTown!</h1>
    <h2 id="highScore">Current HighScore: </h2>
</div>
<div ng-app="setupApp">
    <div ng-controller="setupController" style="text-align: center;">
        <select ng-init="reset()" id="animalSelect">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button class="btn btn-primary" ng-click="animalSetup()" style="margin: 2px;">Start Animal Quiz</button><br />
        <select id="sentenceSelect">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button class="btn btn-primary" ng-click="sentenceSetup()" style="margin: 2px;">Start Sentence Quiz</button><br />
        <button class="btn btn-info" ng-click="startRandom()" style="margin: 2px;">Start 15 Random Questions</button>
    </div>
</div>
